/* OVERRIDES */

.knockout__card {
    border-radius: 5px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none !important;
    color: #fff !important;
    margin-bottom: 15px !important;
}
.knockout__card__divider{
    border-top: 2px solid #030303 !important;

}
.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    background: #4A80F0 !important;
    color: #fff !important
}
.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab
{
    background: #1C2031 ;
     border: none !important;
}

.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab{
   background: #1C2031;
    box-shadow: 0px 4px 10px none !important; 
   border-radius: 5px !important;
   border: none !important;
   margin-right:15px;
   padding: 10px 0
}
.ant-tabs-card.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
    padding: 7px 27px 6px;
}



/* END OF OVERRIDES */

.knockout__score{
    float: right
}
.knockout__card p  {
    margin-bottom: 7px;
}
.knockout__card p >a {
    color: #fff
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .ant-tabs-card.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
     padding: 7px 17px 6px;
     margin-right:5px;
 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ant-tabs-card.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
        padding: 7px 17px 6px;
         margin-right:5px;
    }
}
