@font-face {
  font-family: "SF";
  src: local("SF"),
    url(assets/fonts/SF/SFProText-Regular.ttf) format("truetype");
}


.App {
  font-family:"SF";
  background-color:#121421;
  color: #fff;
  line-height: 1.8 !important;
  height: 100vh;
  overflow-y: auto
}


